nav{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.navbar a {
    margin: 20px; 
    text-decoration: none; 
}

.navbar-brand>img {
    padding: 7px 14px;
    width: 14px;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }